img{ 
    border: 5px solid #000000;
    border-radius: 40px;
   }  
 .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;  
    text-align: center;
    margin-left: 20px;
   }
   .origami{
      border-radius: 20px;
      background-color: rgb(206, 165, 165);
      width: 310px;
      font-family:'Helvetica Neue';
      margin-bottom: 20px;
      margin-left: 20px; 
      padding-left: 20px;
      position: relative;
   }
   .menu{
      text-align: center;
      background-color:rgb(83, 165, 168);
      font-size: 30px;
      font-family: Blackadder ITC;
      font-weight: 700;
      color: rgb(224, 125, 44);  
   }
   .menu1{
      display: flex;
      justify-content: space-evenly;
   }
   body{
      background-color:rgb(83, 165, 168) ;
      margin: 1px;
       
   }
   .bodyImg{
      text-align: center;
      font-family: Cooper;
      font-size: 25px;
      font-weight: 200;
      background-color:rgb(83, 165, 168);
      color:#000000;
   }
   .grid Img{
      border: 2px solid#000000;
      border-radius: 50px;
   }
   
   a:link{
      color: blue;
   }
   a:visited{
      color: blue;
   }
   .origami p,ul{
      padding-left: 5px;
   }
   .origami:hover img{
      transform: scale(1.2);
   }
   .a{
      text-decoration: none;
   }
  .origami p{
   position: absolute;
  }

 